<h1>Add Book to Shopping Cart</h1>

<body>
    <div class="addToWishlist">
        <form action="/user/addToWishlist" method="POST">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required> 
            <br>
            <label for="bookName">Book Title:</label>
            <input type="text" id="bookName" name="bookName" required>
            <br>
            <button>Add book to wishlist</button>
        </form>
    </div>
</body>