<h1>Add a book to Cart </h1>

<body>
    <div class="cart_add_book">
        <form action="/cart/add_book" method="POST">
            <label for="user_email">Enter User Email: </label>
            <input type="text" id="user_email" name="user_email" required>
            <label for="bookISBN">Enter Book ISBN: </label>
            <input type="text" id="bookISBN" name="bookISBN" required>
            <button>Add Book to Cart</button>
        </form>
    </div>
</body>