<h1>Register User</h1>

<body>
    <div class="createUser">
        <form action="/user/create" method="POST">
            <label for="userFirst">First Name:</label>
            <input type="text" id="userFirst" name="userFirst" required>
            <br>
            <label for="userLast">Last Name:</label>
            <input type="text" id="userLast" name="userLast" required>
            <br>
            <label for="userEmail">Email:</label>
            <input type="text" id="userEmail" name="userEmail" required>
            <br>
            <label for="userPassword">Password:</label>
            <input type="password" id="userPassword" name="userPassword" required>
            <br>
            <label for="userStreet">Address:</label>
            <input type="text" id="userStreet" name="userStreet" required>
            <br>
            <label for="userCity">City:</label>
            <input type="text" id="userCity" name="userCity" required>
            <br>
            <label for="userState">State:</label>
            <input type="text" id="userState" name="userState" required>
            <br>
            <label for="userZip">Zip Code:</label>
            <input type="text" id="userZip" name="userZip" required>
            <br>          
            <button>Create User</button>
        </form>
    </div>
</body>
