<h1>Create Author</h1>


<body>
    <div class="createAuthor">
        <form action="/author/create" method="POST">
            <label for="authorFirst">Author First Name:</label>
            <input type="text" id="authorFirst" name="authorFirst" required>
            <br>
            <label for="authorLast">Author Last Name:</label>
            <input type="text" id="authorLast" name="authorLast" required>
            <br>
            <label for="authorBiography">Author Biography:</label>
            <input type="text" id="authorBiography" name="authorBiography" required>
            <br>
            <label for="authorPublisher">Publisher:</label>
            <input type="text" id="authorPublisher" name="authorPublisher" required>
            <br>
            <button>Create Author</button>
        </form>
    </div>
</body>
