<h1>Create Rating</h1>


<body>
    <div class="createRating">
        <form action="/rating/create" method="POST">
            <label for="bookName">Name of Book:</label>
            <input type="text" id="bookName" name="bookName" required>
            <br>
            <label for="bookRating">Book Rating:</label>
            <input type="text" id="bookRating" name="bookRating" required>
            <br>
            <label for="bookComment">Book Comment:</label>
            <input type="text" id="bookComment" name="bookComment" required>
            <br>
            <button>Create Rating</button>
        </form>
    </div>
</body>
