<h1>Add User Credit Card</h1>

<body>
    <div class="createCC">
        <form action="/user/addCC" method="POST">
            <label for="userEmail">Please enter your existing Email:</label>
            <input type="text" id="userEmail" name="userEmail" required>
            <br>
            <label for="userCCNumber">Credit Card Number:</label>
            <input type="text" id="userCCNumber" name="userCCNumber" required>
            <br>
            <label for="userCCExpMonth">Expiration Month:</label>
            <input type="text" id="userCCExpMonth" name="userCCExpMonth" required>
            <br>
            <label for="userCCExpYear">Expration Year:</label>
            <input type="text" id="userCCExpYear" name="userCCExpYear" required>
            <br>
            <label for="userCCSecurity">CVV:</label>
            <input type="text" id="userCCSecurity" name="userCCSecurity" required>
            <br>      
            <button>Add Credit Card</button>
        </form>
    </div>
</body>
