<h1>Find Ratings</h1>


<body>
    <div class="findRating">
        <form action="/find" method="GET">
            <label for="bookName">Name of Book:</label>
            <input type="text" id="bookName" name="bookName" required>
            <br>
            <button>Find Ratings for this Book</button>
        </form>
    </div>
</body>
