<h1>Welcome to our Bookstore!</h1>
<a href="book/create"><button>Create Book</button></a>
<a href="author/create"><button>Create Author</button></a>
<a href="user/create"><button>Create User</button></a>
<a href="cart/home"><button>Shopping Cart</button></a>
