<h1>View By Genre</h1>

<body>
    <div class="ViewByGenre">
        <li><a href="genre/Action"><button>Action</button></a></li>
        <li><a href="genre/Educational"><button>Educational</button></a></li>
        <li><a href="genre/Fiction"><button>Fiction</button></a></li>
    </div>
</body>