<h1>View By Rating</h1>

<body>
    <div class="ViewByGenre">
        <li><a href="rating/5"><button>Rating Greater than or equal to 5</button></a></li>
        <li><a href="rating/4"><button>Rating Greater than or equal to 4</button></a></li>
        <li><a href="rating/3"><button>Rating Greater than or equal to 3</button></a></li>
        <li><a href="rating/2"><button>Rating Greater than or equal to 2</button></a></li>
        <li><a href="rating/1"><button>Rating Greater than or equal to 1</button></a></li>
    </div>
</body>