<h1>Add Book to Shopping Cart</h1>

<body>
    <div class="viewWishlist">
        <form action="/user/viewWishlist" method="POST">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required> 
            <br>
            <button>View Wishlist</button>
        </form>
    </div>
</body>